version: '3.8'

services:

  diva:
    image: diva/diva:${DIVA_VERSION:-v23.8.7}
    platform: linux/amd64
    container_name: diva
    hostname: diva
    restart: unless-stopped
    command:
      - '--db=/opt/diva/data/diva.db'
      - '--w3s-address=0.0.0.0'
      - '--execution-client-url=${EXECUTION_CLIENT_URL}'
      - '--consensus-client-url=${CONSENSUS_CLIENT_URL}'
      - '--tracing'
      - '--log-level=debug'
      - '--contract=0xf73280D617AB4BDff2558adcD1a1659ccD1B4fF9'
      - '--master-key=${DIVA_API_KEY}'
    environment:
      - DIVA_VAULT_PASSWORD=${DIVA_VAULT_PASSWORD}
      - OTEL_EXPORTER_JAEGER_AGENT_HOST=jaeger
      - OTEL_EXPORTER_JAEGER_AGENT_PORT=6831
    volumes:
      - ./.diva/data/:/opt/diva/data/
    ports:
      - 5050:5050
      - 30000:30000

  validator:
    image: gcr.io/prysmaticlabs/prysm/validator:stable
    platform: linux/amd64
    container_name: validator
    hostname: validator
    restart: unless-stopped
    command:
      [
        "--accept-terms-of-use",
        "--beacon-rpc-provider=${BEACON_RPC_PROVIDER}",
        "--monitoring-host=0.0.0.0",
        "--validators-external-signer-public-keys=http://diva:9000/api/v1/eth2/publicKeys",
        "--validators-external-signer-url=http://diva:9000",
        "--web",
        "--wallet-dir=/jwt",
        "--grpc-gateway-host=0.0.0.0",
        "--graffiti=\"Diva operator\"",
      ]
    volumes:
      - ${DIVA_DATA_FOLDER:-.}/prysm/validator/config:/config
      - ${DIVA_DATA_FOLDER:-.}/prysm/validator/data/validator:/data
      - ${DIVA_DATA_FOLDER:-.}/prysm/validator/jwt:/jwt
    networks:
      default:
        aliases:
          - vc-rkm

  reloader:
    image: diva/reloader:${RELOADER_VERSION:-v23.8.0}
    platform: linux/amd64
    container_name: reloader
    hostname: reloader
    restart: unless-stopped
    volumes:
      - ${DIVA_DATA_FOLDER:-.}/prysm/validator/jwt:/jwt
    environment:
      - VALIDATOR_RKM_API=http://vc-rkm:7500
      - DIVA_W3S_API=http://diva:9000
      - SYNC_PERIOD=600

  operator-ui:
    image: diva/operator-ui:${OPERATOR_UI_VERSION:-v23.8.5}
    platform: linux/amd64
    container_name: operator-ui
    restart: unless-stopped
    ports:
      - 80:80

  # Telemetry configuration
  jaeger:
    extends:
      file: docker-compose-telemetry.yml
      service: jaeger

  vector:
    extends:
      file: docker-compose-telemetry.yml
      service: vector


